{{ if .Site.Params.enableCopyright | default true }}
<footer class="pt-2 pb-2">
  <div class="wrap">
    {{- $author := site.Params.author }}
    <p><span class="year">Made by</span>{{ with $author }} <a href ="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a>{{ end }}</p>
  </div>
</footer>
{{ end }}

